<!DOCTYPE html>
<!-- 타임리프를 사용하기 위한 태그 선언 -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>

  <!-- 내부 css -->
  <style>

    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }

  </style>

  <!-- 내부 js -->
  <script>
    window.onload = function() {
      console.log("");
      console.log("[window onload] : [start]");
      console.log("");
    };
  </script>

</head>

<body>

<!-- 테이블 선언 실시 -->
<table>

  <thead>
  <tr>
    <th>제목</th>
    <th>내용</th>
    <th>저자</th>
    <th>날짜</th>
  </tr>
  </thead>

  <tbody>
  <!-- tr th:each : 행 반복문을 수행하겠다는 의미입니다 [여러 데이터 출력] -->
  <tr th:each="list : ${tableList}">
    <td><span th:text="${list.Title}"></span></td>
    <td><span th:text="${list.Content}"></span></td>
    <td><span th:text="${list.Author}"></span></td>
    <td><span th:text="${list.Date}"></span></td>
  </tr>
  </tbody>

</table>
<form action="/logout" method="get">
  <button type="submit">Logout</button>
</form>
<a href="/update.html">비밀번호변경</a>
<a href="/delete.html">회원탈퇴</a>
<a href="/write.html">글쓰기</a> 
</body>

</html>